@import "function";

// RESETS
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

button {
  cursor: pointer;
  border: none;
  background: none;
}

input {
  border: none;
  outline: none;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

// /* ####### */

/*##### for-phone-only ##########*/
@media (max-width: 599px) {
  header {
    padding: toRem(40) toRem(24);
    display: flex;
    align-items: center;
    justify-content: space-between;

    .logo {
      height: 30px;
      width: 161px;
    }

    .icon-hamburger {
      height: 18px;
      width: 24px;
    }
  }

  main {
    .hero {
      display: flex;
      flex-direction: column-reverse;

      .text {
        padding: 56px 24px 96px 24px;

        h1 {
          font-weight: 800;
          font-size: 40px;
          line-height: 40px;
          color: #000000;
          margin-bottom: 15px;
        }

        p {
          font-weight: 400;
          font-size: 15px;
          line-height: 25px;
          color: #000000;
          margin-bottom: 40px;
        }

        a {
          font-weight: 800;
          font-size: 18px;
          line-height: 22px;
          color: #ffffff;
          padding: 25px 40px;
          background: #f94f4f;
        }
      }

      .image {
      }
    }

    .div2 {
      background: #191921;
      .text {
        padding: 72px 24px;

        h2 {
          font-weight: 800;
          font-size: 32px;
          line-height: 40px;
          color: #ffffff;
          margin-bottom: 24px;

          span {
            color: #f94f4f;
          }
        }

        p {
          font-weight: 400;
          font-size: 15px;
          line-height: 25px;
          /* or 167% */

          color: #ffffff;
          margin-bottom: 40px;
        }

        a {
          font-weight: 800;
          font-size: 15px;
          line-height: 18px;

          color: #f94f4f;
        }
      }

      .image {
      }
    }

    .div3 {
      background: #f94f4f;
      padding: 96px 24px;

      .first-text {
        margin-bottom: 93px;

        h2 {
          font-weight: 800;
          font-size: 32px;
          line-height: 40px;
          /* or 125% */

          color: #ffffff;
        }
      }

      .second-text {
        .item + .item {
          margin-top: 84px;
        }

        .item {
          position: relative;

          h3 {
            font-weight: 800;
            font-size: 15px;
            line-height: 25px;
            /* identical to box height, or 167% */

            color: #ffffff;
            margin-bottom: 15px;
          }

          p {
            font-weight: 400;
            font-size: 15px;
            line-height: 25px;
            /* or 167% */

            color: #ffffff;
            max-width: 260px;
          }
        }
      }
    }

    .div4 {
      display: flex;
      flex-direction: column-reverse;

      .image {
      }

      .text {
        padding: 64px 24px;
        background: #191921;
        margin-bottom: 24px;

        h2 {
          font-weight: 800;
          font-size: 32px;
          line-height: 40px;
          color: #ffffff;
          margin-bottom: 24px;
        }

        .navigation {
          width: 96px;
          height: 40px;
          display: flex;
          align-items: center;
          justify-content: space-between;

          a {
            width: 40px;
            height: 40px;
            display: flex;
            align-items: center;
            justify-content: center;
            border: 1px solid #f94f4f;
            border-radius: 50%;

            .arrow {
              border-radius: 50%;
            }
          }
        }
      }
    }
  }

  footer {
    padding: toRem(100) toRem(24);

    h2 {
      font-weight: 800;
      font-size: toRem(32);
      line-height: 40px;
      color: #000000;
      margin-bottom: toRem(47);
    }

    a {
      font-weight: 800;
      font-size: 16px;
      line-height: 20px;
      color: #ffffff;
      padding: 22px 44px;
      background: #f94f4f;
    }
  }
}

/*############ for-tablet-portrait-up ##############*/
@media (600px <= width <= 899px) {
}

/*############ for-tablet-landscape-up #############*/
@media (min-width: 900px) {
}
// @media (900px <= width <= 1199px) {}

/*############ for-desktop-up ###########*/
@media (min-width: 1200px) {
}

/*############ for-big-desktop-up ##########*/
@media (min-width: 1800px) {
}
